<div class="d-flex justify-content-between flex wrap flex-md nowrap align-items-center pt-3 pb-3 mb-3 border-bottom">
    <h1 class="h2">  <%= view_customer.first_name %> <%= view_customer.last_name %></h1>

    <div class="btn-toolbar mb-2 mb-md0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        </div>
    </div>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= view_customer.first_name %></li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>Last Updated <%= new Date(view_customer.updatedAt).toUTCString() %></b>
        </div>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px;"><b>Full Name: </b></div>
            <div class="col"><%= view_customer.first_name %>  <%= view_customer.last_name %></div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px;"><b>Email: </b></div>
            <div class="col"><%= view_customer.email %> </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px;"><b>Phone No: </b></div>
            <div class="col"><%= view_customer.phone_no %> </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px;"><b>Comments: </b></div>
            <div class="col"><%= view_customer.comments %> </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px;"><b>Date Created: </b></div>
            <div class="col"><%= new Date(view_customer.createdAt).toUTCString() %> </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px;"><b>Date Updated: </b></div>
            <div class="col"><%= new Date(view_customer.updatedAt).toUTCString() %> </div>
        </div>
    </li>
    

</ul>

